<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <!-- Each expense should contain the following fields: title, amount, category (Food, Travel, Bills, Shopping, Other), and date. -->
        <label for="">Title</label>
        <input type="text" name="title" id="">
        <br>
        <label for="">amount</label>
        <input type="number" name="number" id="">
        <br>
        <label for="">Date</label>
        <input type="date" name="number" id="">
        <br>
        <label for="">Category</label>
        <select name="category" id="">
            <option value="Category" disabled>Category</option>
            <option value="Food">Food</option>
            <option value="Travel">Travel</option>
            <option value="Bills">Bills</option>
            <option value="Shopping">Shopping</option>
        </select>
        <br>

    </form>
</body>
</html>